@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.App {
  text-align: center;
  font-size: 2em;
}

.content {
  width: 700px;
  margin: 1em auto;
  padding: 1em;

}

.MuiTypography-root {
  font-family: 'Gochi Hand', cursive;
}

.MuiPaper+root {
  box-shadow: none;
}